################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/RagnaCustoms/bin/Debug
/RagnaCustoms/bin/RagnaCustoms
/RagnaCustoms/bin/RagnaCustoms.zip
/.vs
/RagnaCustoms/obj/Debug
/RagnaCustoms/obj/Release
