################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/RagnaCustoms/bin/*
/.vs
/RagnaCustoms/obj/*
/RagnaCustoms/*.csproj.user
/packages/*