<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="TwitchLib" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core.Enums" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core.Interfaces" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Core.Models" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Helix" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.Helix.Models" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.V5" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Api.V5.Models" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Client" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Client.Enums" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Client.Models" version="3.2.0" targetFramework="net48" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net48" />
  <package id="TwitchLib.PubSub" version="3.2.0" targetFramework="net48" />
</packages>